html,
body {
  height: 100%;
}

body {
  padding-top: 0;
  font-family: 'Open Sans', sans-serif;
  color: #868383;
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

h2 {
  font-size: 3em;
  font-weight: 600;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

.navbar {
  background: rgba(0, 0, 0, 0.0);
  border-color: transparent;
  transition: all 1s;
}

.nav>li>a {
  padding: 15px 30px;
  letter-spacing: 1px;
}

.navbar.opaque {
  background: rgba(0, 0, 0, 0.6);
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  padding-top: 20px;
  transition: all 1s;
}

.navbar-inverse .navbar-brand {
  color: #fff!important;
}

.navbar-inverse.opaque .navbar-brand {
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fdfdfd;
  font-size: 1.2em;
  font-weight: 600;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #fff;
}


/* Home Page Carousel */

header.carousel {
  height: 100%;
  margin-bottom: 60px;
}

.carousel-indicators {
  bottom: 10px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%;
}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.img-center {
  margin: 0 auto;
}

.page-header {
  margin: 100px 0 35px!important;
  border: none!important;
}

.showcase {
  margin-bottom: 50px;
}

.featurette {
  margin-bottom: 100px;
}

.featurette-image {
  max-width: 100%;
}

.feature-section {
  color: #fff;
  background: url("../img/featurette-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.featurette-heading {
  color: #D54A43;
  font-size: 2.5em;
}

.about-feature h2,
.about-feature p {
  color: #fff;
}

.col-sm-4.feature-img {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.col-sm-8.feature-content {
  display: inline-block;
  vertical-align: middle;
  float: none;
  width: 65.666667%;
}

.social-link a {
  color: #fff;
}

a [class^="icon-"],
a [class*=" icon-"] {
  text-decoration: none;
  padding: 10px;
}

.lead {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 2em;
  margin-top: 15px;
}

.icon-facebook-sign:hover {
  color: #0054a6;
}

.icon-twitter:hover {
  color: #00bff3;
}

.icon-instagram:hover {
  color: #8c6239;
}

section {
  padding: 75px 0 50px;
}


/* Contact Styles */

#contact h3 {
  color: #D54A43;
}

label {
  color: #282D3F;
}

.control-group {
  background-color: rgba(255, 255, 255, 0.7);
  ;
  margin-bottom: 10px;
}

.help-block li {
  color: #F34B4B;
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  font-size: 1.5em;
  background: 0 0;
  box-shadow: none!important;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: .85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top .3s ease, opacity .3s ease;
  -moz-transition: top .3s ease, opacity .3s ease;
  -ms-transition: top .3s ease, opacity .3s ease;
  transition: top .3s ease, opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #318cfa;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee;
}


/* Footer Styles */

footer {
  margin: 50px 0;
}

.veriti-wrap {
  width: 275px;
}

.veriti-emblem {
  padding-left: 20px;
  width: 30%;
  float: left;
}

.veriti-love {
  width: 70%;
  display: inline-block;
  margin-bottom: 0;
}

.veriti-love p {
  margin-bottom: 0;
}


/* Responsive Styles */

@media (min-width: 768px) {
  .navbar {
    padding-top: 40px;
  }
  .navbar.opaque {
    padding-top: 0;
  }
  .col-sm-8 {
    text-align: left;
  }
}


/* //////////////////*/
